

body {
    margin: 0px;
    font-family: arial;
    background-color: rgb(73, 18, 246);
}

.Section-1 {
    background-color: rgb(73, 18, 246);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

    
input[type='button'] {
    padding: 6px 18px;
    border: 0px
}

a:visited {
    color: rgb(202, 200, 200);
    
}
a:link {
    text-decoration: none;
}

.Section-2 {
    font-style: arial;
    background-color: rgb(73, 18, 246);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 200px;
}

.floatright{float:right;margin-left:0px}




.Wannasee {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    color: rgb(202, 200, 200);
}

#first {
    color: rgb(202, 200, 200);
    float: left;
    width: fixed;
    position: absolute;
    text-align: left;
    flex-direction: row;
    margin: 120px 1250px 0px 200px;
    
}

#second {
    text-align: right;
    color: rgb(202, 200, 200);
    display: flex:1;
    position: relative;
    float:right;
    flex-direction: row;
    text-align: left;
    margin: 170px 200px 0px 1500px
    

}
#text1 {
    color: white;
}

#text2 {
    color: white;
}